.toast-error {
    border-bottom: 5px solid red;
}

.toast-success {
    border-bottom: 5px solid green;
}

.toast {
    --bs-toast-padding-x: 0.5rem;
}

#toastList {
    padding-bottom: 50px;
}

#footer {
    width: 100%;
    border-top: 1px solid;
    padding: 10px;
    @media screen and (min-height: 580px) {
        position: absolute!important;
        bottom: 0!important;
    }
}